*{
  margin: 0;
  padding: 0;

  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  
}
@font-face {
  font-family: MyCustomFont;
  src: url('./static/one.ttf'); /* 替换成你字体文件的路径 */
}

@font-face {
  font-family: Mygeci;
  src: url('./static/two.ttf'); /* 替换成你字体文件的路径 */
}
.example-showcase .el-loading-mask {
  z-index: 9;
}
body{
  background: #F0F0F0;



}
p{
 
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144,147,153,.3);
}
